
<!--<header th:fragment="before-login-header">-->
<!--    <nav class="navbar navbar-expand-lg bg-body-tertiary ">-->
<!--        <div class="container-fluid fw-bolder">-->
<!--            <a class="navbar-brand mx-auto" href="#"> BillingApp-->
<!--                <i class="fas fa-home"></i>-->
<!--            </a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                &lt;!&ndash;  <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse nav justify-content-center container-fluid navbar-nav mb-2 mb-lg-0" id="navbarSupportedContent">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="/about">About</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>-->
<!--            </li>-->
<!--        </div>-->
<!--        <div class="nav justify-content-center container-fluid navbar-nav mb-2 mb-lg-0">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="/register">Sign in</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="/login">Log in</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fa-solid fa-user"></i>-->
<!--            </li>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<header th:fragment="before-login-header" style="background-color: #333; color: white; text-align: center; font-family: Arial, sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid fw-bolder">
            <a class="navbar-brand mx-auto" href="#" style="color: white;">
                <i class="fas fa-home" style="color: white;"></i>
                BillingApp
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!--  <span class="navbar-toggler-icon"></span>-->
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-center container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about" style="color: white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contact" style="color: white;">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav justify-content-center container-fluid">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/register" style="color: white;">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/login" style="color: white;">Log in</a>
            </li>
            <li style="color: white;">
                <i class="fa-solid fa-user"></i>
            </li>
        </ul>
    </nav>
</header>






