<header1 th:fragment="create-invoice-header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid fw-bolder">
            <a class="navbar-brand mx-auto" href="/">
                <i class="fas fa-home"></i>Invoice
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!--  <span class="navbar-toggler-icon"></span>-->
            </button>
        </div>
        <div class="collapse navbar-collapse nav justify-content-center container-fluid navbar-nav mb-2 mb-lg-0" id="navbarSupportedContent">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">New Invoice</button></li>
                        <li><button class="dropdown-item" type="button">Archive Invoices</button></li>
                    </ul>
                </div>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="/contactUs">Contact</a>
            </li>
            <li>
                <a class="nav-link active fa-solid fa-user" href="userProfile"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/log out">Log out</a>
            </li>
        </div>
    </nav>
</header1>