<!doctype html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general}"> </head>
<header th:replace="~{fragments/headerAfterLogIn.html::after-login-header}"></header>

<body>
<div>
    <h1>Contact us</h1>
    <form action="/contactUs" method="post">
        <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="m-3">
            <label for="exampleFormControlTextarea1" class="form-label">Text your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div>
            <button>Save</button>
        </div>
    </form>
</div>
</body>
</html>