<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerAfterLogin.html::after-login-head}"></head>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>
<title>Create Invoice</title>
<body>
<main>
    <h1>Create invoice</h1>
    <section class="row">
        <div class="input-group mt-2">
            <a class="btn btn-primary justify-content-center" href="/confirmTaxPayerType" role="button">Start</a>
        </div>
</main>
</body>
</html>