<!doctype html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::after-login-head}"> </head>
<body>
<header th:replace="~{fragments/headerCreateInvoice.html::create-invoice-header}"></header>

<main class="container">
  <h4>Customer For Invoice</h4>
  <section class="container">
    <div>
      <ul class="nav nav-tabs">
      <form method="post" action="/create_invoice/customerData">
        <select name="selectedCustomerId" class="form-select" aria-label="Customers">
            <option th:each="customer: ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            <option value="" selected>Select customer</option>
            <option th:each="customer: ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
        </select>
          <div class="input-group mt-2">
              <a th:href="${'/create_invoice/productOrService'}" class="btn btn-secondary">Confirm</a>
          </div>
      </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer-list">Edit customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-customer">Add customer</a>
            </li>
          </ul>
    </div>
  </section>
</main>
</body>
</html>
<!--
    <form th:action="${'/createNewInvoice/CustomerData'}" method="post">
      <section th:replace="~{fragments/editUserFragment.html::edit-customer-data-fragment}">
      </section>
      <div class="input-group mt-2">
        <button class="btn btn-dark text-white p-3">Confirm and Proceed</button>
      </div>
    </form> -->