<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Invoice Overview</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
          integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<main class="container">
  <h3 style="text-align: center; margin: 80px 0px 50px 0px; color: #333333;">Invoice Overview</h3>
  <table style="width: 100%; border-collapse: collapse;">
    <tr>
      <td style="padding: 10px; border: 1px solid #ccc;">
        <div class="invoice-info">
          <p>Invoice No: <span th:text="${invoice.invoiceNumber}"></span></p>
          <p>Date: <span th:text="${invoice.issuedAt}"></span></p>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; border: 1px solid #ccc;">
        <table style="width: 100%;">
          <tr>
            <td style="width: 50%;">
              <div class="user-info">
                <p>Name: <span th:text="${invoice.user.name}"></span></p>
                <p>Email: <span th:text="${invoice.user.email}"></span></p>
                <p>Taxpayer number: <span th:text="${invoice.user.taxpayerNo}"></span></p>
                <p>Address: <span th:text="${invoice.user.legalAddress}"></span></p>
                <p>Country: <span th:text="${invoice.user.country.getDisplayCountryName()}"></span></p>
              </div>
            </td>
            <td style="width: 50%;">
              <div class="customer-info">
                <p>Customer name: <span th:text="${invoice.customer.name}"></span></p>
                <p>Taxpayer number: <span th:text="${invoice.customer.taxpayerNo}"></span></p>
                <p>Address: <span th:text="${invoice.customer.legalAddress}"></span></p>
                <p>Country: <span th:text="${invoice.customer.country.getDisplayCountryName()}"></span></p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; border: 1px solid #ccc;">
        <div class="product-service-info">
          <ul>
            <li th:each="product : ${products}">
              <p>Product/Service name: <span th:text="${product.name}"></span></p>
              <p>Quantity: <span th:text="${product.quantity}"></span></p>
              <p>Unit: <span th:text="${product.unit}"></span></p>
              <p>Unit price: <span th:text="${product.unitPrice}"></span></p>
              <p>Currency: <span th:text="${product.currency}"></span></p>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; border: 1px solid #ccc;">
        <div class="totalPrice">
          <p>Total: <span th:text="${invoice.totalPrice}"></span></p>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; border: 1px solid #ccc;">
        <div class="invoice-data">
          <p>Notes: <span th:text="${invoice.notes}"></span></p>
          <p>Issued on: <span th:text="${invoice.issuedAt}"></span></p>
          <p>Due by: <span th:text="${invoice.dueBy}"></span></p>
          <p>Signature: <span th:text="${invoice.methodOfSigning.getDisplaySignatureName()}"></span></p>
        </div>
      </td>
    </tr>
  </table>
  <section style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    <form th:action="@{/edit-invoice}" method="post" style="display: inline-block; margin-right: 10px;">
      <button type="submit" class="btn btn-dark text-white p-3" style="font-weight: bold;">Edit Invoice</button>
    </form>
    <form th:action="@{/confirm-invoice}" method="post" style="display: inline-block;">
      <button type="submit" class="btn btn-dark text-white p-3" style="font-weight: bold;">Confirm Invoice</button>
    </form>
  </section>
</main>
</body>
</html>
