<!doctype html>
<html lang="en">
<head  th:replace="~{fragments/headerAfterLogin.html::head-general}"></head>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>
<body>
<main class="container">
    <form method="get" action="/createNewInvoice/">
    <div class="input-group mt-2">
        <a th:href="${'/createNewInvoice/taxPayerType'}" class="btn btn btn-dark text-white p-3">Create a New Invoice</a>
    </div>
        <div class="input-group mt-2">
            <a th:href="${'/archive-invoice'}" class="btn btn btn-dark text-white p-3">View Previous Invoices</a>
        </div>
    </form>
</main>
</body>
</html>