<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
<main>
    <h3>Log in or sign up</h3>
    <section>
        <form method="post" action="/login">
            <div class="input-group m-3">
                <label class="input-group-text">E-mail</label>
                <input class="form-control" name="email" type="text"/>
            </div>
            <div class="input-group m-3">
                <label class="input-group-text">Password</label>
                <input class="form-control" name="password" type="password"/>
            </div>
            <div class="m-3">
                <button class="btn btn-white text-dark p-3">Submit</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>