<!doctype html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general}"> </head>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>
<body>
<main class="container">
    <!-- <h1>User Page</h1> -->
    <form action ="/mainPageForUser" method="get"></form>
    <section>
        <div class="text-center">
            <p class="fs-1"> Welcome!</p>
            <p class="fs-3">
                You have successfully log in Billing application!
            </p>
            <p>
                Choose your next steps, what would you want to do?
            </p>
            <p>
                you can choose actions with invoices, like create or use invoices from archive...
            </p>
            <p>
                some more staff...
            </p>
        </div>
    </section>
</main>
</body>
</html>