<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general(pageTitle='Archive')}">
</head>
<body>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>
<main class="container">
    <div>

        <h1>Archive invoices</h1>
        <div th:if="${invoices.isEmpty()}">There are No products or services to display</div>
        <div th:if="${!invoices.isEmpty()}">

            <form th:action="@{/sort-invoices}" method="get">
                <label for="sortParameter">Sort By:</label>
                <select id="sortParameter" name="sortParameter">
                    <option value="CREATED_AT" th:selected="${sortParameter == 'CREATED_AT'}">Created at</option>
                    <option value="ISSUED_AT" th:selected="${sortParameter == 'ISSUED_AT'}">Issued on</option>
                    <option value="DUE_BY" th:selected="${sortParameter == 'DUE_BY'}">Due by</option>
                    <option value="SELLER" th:selected="${sortParameter == 'SELLER'}">Seller</option>
                    <option value="BUYER" th:selected="${sortParameter == 'BUYER'}">Buyer</option>
                    <option value="TOTAL" th:selected="${sortParameter == 'TOTAL'}">Total</option>
                    <option value="CURRENCY" th:selected="${sortParameter == 'CURRENCY'}">Currency</option>
                    <option value="STATUS" th:selected="${sortParameter == 'STATUS'}">Status</option>
                </select>
                <button type="submit">Sort</button>
            </form>


            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <th>Invoice No.</th>
                    <th>Created at</th>
                    <th>Issued on</th>
                    <th>Due by</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Products</th>
                    <th>Total Sum</th>
                    <th>Currency</th>
                    <th>Status</th>

                </tr>

                <tr th:each="invoice : ${invoices}">
                    <td th:text="${invoice.invoiceNumber}"></td>
                    <td th:text="${invoice.createdAt}"></td>
                    <td th:text="${invoice.issuedAt}"></td>
                    <td th:text="${invoice.dueBy}"></td>
                    <td th:text="${invoice.user.name}"></td>
                    <td th:text="${invoice.customer.name}"></td>
                    <td>
            <span th:each="product, iterStat : ${invoice.invoiceProducts}">
            <span th:text="${product.product.name}"></span>
            <span th:unless="${iterStat.last}">,</span>
            </span>
                    </td>
                    <td th:text="${#numbers.formatDecimal(invoice.totalPrice,1,2,'COMMA')}"></td>
                    <td th:text="${invoice.currency.toString()}"></td>
                    <td th:text="${invoice.status.toString()}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>