<!doctype html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general}"> </head>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>

<body>
<main class="container">
    <h3 style="text-align: center; margin: 80px 0px 50px 0px; color: #333333;">Add a new Product or Service</h3>
    <section>
        <form id="productForm" action="/createNewInvoice/productOrService" method="post" style="width: 33%; margin: 0 auto;">
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Name</label>
                <input name="name" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Quantity</label>
                <input name="quantity" class="form-control" type="number" style="box-shadow: 3px 3px 5px #888888;"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Unit</label>
                <input name="unit" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Unit price</label>
                <input name="unitPrice" class="form-control" type="number" style="box-shadow: 3px 3px 5px #888888;"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Currency</label>
                <select name="currency" class="form-control" style="box-shadow: 3px 3px 5px #888888;">
                    <option value="EUR">EUR</option>
                    <option value="BGN">BGN</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                    <option value="HUF">HUF</option>
                    <option value="PLN">PLN</option>
                    <option value="RON">RON</option>
                    <option value="SEK">SEK</option>
                    <option value="ISK">ISK</option>
                    <option value="CHF">CHF</option>
                    <option value="NOK">NOK</option>
                </select>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">VAT Rate</label>
                <select name="VATrate" class="form-control" style="box-shadow: 3px 3px 5px #888888;">
                    <option value="STANDARD21">Standard 21%</option>
                    <option value="REDUCED12">Reduced 12%</option>
                    <option value="REDUCED10">Reduced 10%</option>
                    <option value="REDUCED5">Reduced 5%</option>
                    <option value="EXEMPTED0">Exempted 0%</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>

            <!--<input type="hidden" name="addMore" th:value="${'Yes'}" />
            <button id="yesButton" th:attr="data-url=${'createNewInvoice/productOrService/add-more'}" type="submit">Add more products or services</button>
            <div><b>To proceed without adding new items, press CONFIRM AND PROCEED</b></div>

            <input type="hidden" name="addMore" th:value="${'No'}" />

            <div class="input-group mt-2">
                <button id="confirmAndProceedButton" class="btn btn btn-dark text-white p-3" type="submit" >
                    Confirm and Proceed</button>
            </div>-->
            <div style="display: flex; justify-content: center; align-items: center; height: auto;">
                <button class="btn btn btn-light text-black p-1" type="submit" name="action" value="addMore" style="margin-top: 20px; margin-bottom: 20px; border-color: grey;">Add more products or services</button>
            </div>

            <div><b>To proceed without adding new items, press CONFIRM AND PROCEED</b></div>
            <div style="display: flex; justify-content: center; align-items: center; height: auto;">
                <button type="submit" name="action" class="btn btn btn-dark text-white p-3" value="redirect" style="font-weight: bold; margin-top: 20px;">
                    Confirm and Proceed</button>
            </div>

        </form>
    </section>
</main>
<script>
    document.getElementById("yesButton").addEventListener("click", function() {
        document.querySelector("input[name='addMore']").value = "Yes";
    });

    document.getElementById("confirmAndProceedButton").addEventListener("click", function() {
        document.querySelector("input[name='addMore']").value = "No";
    });
</script>
</body>
</html>