<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general(pageTitle='User Profile')}"></head>
<body style="font-family: Arial, sans-serif;">

<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>

<main>
    <div style="background-color: #fff; padding: 20px; border-radius: 5px;">
        <h3 style="text-align: center; margin: 80px 0px 50px 0px; color: #333333;">User Profile</h3>
        <p style="text-align: center; color: #333; font-size: 16px;">
            Welcome to your user profile!
        </p>
        <p style="margin-top: 20px; text-align: center; color: #333; font-size: 16px;">Here, you can manage various aspects of your account and make the following actions:</p>
        <nav style="display: flex; justify-content: center; align-items: center; height: auto; margin-top: 20px">
            <a th:href="${'/singleUserProfile'}" class="btn btn btn-dark text-white p-3" style="margin-right: 10px; font-weight: bold; margin-top: 20px;">View Profile</a>
            <a th:href="${'/editUser'}" class="btn btn btn-dark text-white p-3" style="font-weight: bold; margin-top: 20px;">Edit Profile</a>
        </nav>
    </div>
</main>
</body>
</html>